@use '../base/variables' as v;
@use '../base/mixins' as m;

.sobre-nosotros {
    margin: 8px;
    padding: 12px;

    h2 {
        text-align: center;
        margin-bottom: 12px;
    }
}

.sobre-nosotros-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    p {
        text-align: justify;
        width: 45%;
        max-width: 500px;
    }

    img {
        border-radius: 50%;
        width: 50%;
        max-width: 400px;
    }

}

@include m.tablet {

    .sobre-nosotros {
        h2 {
            margin-bottom: 16px;
        }
    }

    .sobre-nosotros-info {
        flex-direction: row;
        gap: 32px;

    }
}

@include m.desktop {

    .sobre-nosotros {
        h2 {
            margin-bottom: 20px;
        }
    }

    .sobre-nosotros-info {
        gap: 64px;



    }
}