@use '../base/variables' as v;

.feature{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; 
    padding-top: 20px;
    text-align: center;

    .titulo{
        padding-left: 40px;
        padding-right: 40px;
    }

    .lista{
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        padding: 0;
        

        .item{
            width: 100vw;
            height: 20vh;
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            
            .item1{
                width: 50vw;
                height: 22vh; 
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
            }
            .item2{
                width: 50vw;
                height: 22vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
            }
            .circulo{
                width: 8vw;
                height: 4vh;
                border: 2px solid v.$lila;
                border-radius: 50%;
                padding-top: 9px;

                i{
                    width: 15px;
                    height: 15px;
                    color: v.$lila;
                }
            }
            span{
                color: v.$lila;
            }
        }
    }
}