@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    padding: 8px;
    padding-bottom: 60px;

    p {
        text-align: center;

        b {
            color: v.$lila;
        }
    }

    .footer__contact {
        text-align: center;

        i {
            color: v.$lila;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 0;
        }

    }
}

@include m.tablet {
    .footer {
        padding-bottom: 0px;

    }
}

@include m.desktop {
    .footer {
        padding-bottom: 0px;

    }
}