@use '../base/variables' as v;

.contactanos {
    width: 90%;
    height: 70%;
    margin: 0 auto;

    .titulo {
        text-align: center;
        margin-bottom: 24px;
    }

    .caja {
        width: 80%;
        margin: 0 auto;
        border: 2px solid v.$lila;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px v.$moradoOscuro;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9417016806722689) 60%, rgba(75, 32, 130, 0.891281512605042) 100%);


        label,
        input,
        textarea {
            display: block;
            margin: 0 auto;
        }


        input,
        textarea {
            background: transparent;
            border-radius: 8px;
            height: 40px;
            width: 70%;
            font-family: v.$fuenteSecundaria;
            color: white;
        }

        textarea {
            height: 10%;

            resize: none;
        }

        .boton {
            background: black;
            border-radius: 8px;
            margin-top: 20px;
            height: 5vh;
            color: v.$lila;
            border: 2px solid v.$lila;
        }

        .boton:hover {
            background: black;
            border-radius: 8px;
            margin-top: 20px;
            height: 5vh;
            border-radius: 8px;
            border: 2px solid v.$lila;
            box-shadow: 0px 0px 15px v.$lilaClarito;
        }
    }
}