@use '../base/variables' as v;
@use '../base/mixins' as m;

.navbar {
    display: flex;
    align-items: center;

    .imageHeader {
        background-image: url("../img/LogotipoJVD_O.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 60px;
        width: 80px;
        border-radius: 50%;
        margin: 5px;
    }

    .header-tittle {
        font-weight: 500;

        b {
            color: v.$lila;
        }
    }


}


.nav-links {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    bottom: 0;
    background-color: v.$negro;
    margin: 0;
    padding: 10px 2px;


    li {
        padding: 6px;
        border-radius: 8px;

        &:active {
            color: v.$lila;
        }

        &:hover {
            color: v.$lila;
        }
    }
}

@include m.tablet {
    .navbar {
        background-color: v.$negro;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;

        .imageHeader {
            height: 75px;
            width: 105px;
        }


    }

    .nav-links {
        margin-right: 40px;
        position: relative;
        justify-content: flex-end;

    }
}

@include m.desktop {
    .navbar {

        .imageHeader {
            height: 100px;
            width: 130px;
        }

    }

}