.hero{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,32,130,1) 100%);

    .hero__content{
    }
}

.imgFondo{
    height: 70vh;
    object-fit: cover;
}