@use '../base/variables' as v;
@use '../base/mixins' as m;



.service {
    margin: 12px;
    padding: 12px;

    h2 {
        text-align: center;
        margin-bottom: 12px;
    }

}

.service-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    h3 {
        padding-bottom: 10px;
        text-align: center;
        height: 50px;
        border-bottom: 1px solid v.$lila;
        align-content: center;
        color: v.$lila;

    }

    .service-item {
        padding: 8px;
        border: 1px solid v.$lila;
        border-radius: 12px;
        margin-bottom: 12px;

        li {
            list-style: outside;
        }
    }
}

@include m.tablet {

    .service {
        h2 {
            margin-bottom: 16px;
        }
    }

    .service-list {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;

        h3 {
            padding-bottom: 45px;
        }


        .service-item {
            width: 35%;
            padding: 16px;
        }
    }
}

@include m.desktop {


    .service {
        h2 {
            margin-bottom: 24px;
        }
    }

    .service-list {
        h3 {
            padding-bottom: 25px;
        }

        .service-item {
            width: 30%;
            padding: 24px;
        }
    }
}