@use '../base/variables' as v;
@use '../base/mixins' as m;



.service {
    margin: 12px;
    padding: 12px;

    h2 {
        text-align: center;
        margin-bottom: 12px;
    }

}

.service-list {
    display: flex;
    flex-direction: column;




    h3 {
        font-size: 1.1rem;
        padding-bottom: 4px;
        text-align: center;
        height: 50px;
        border-bottom: 1px solid v.$lila;
        align-content: center;
        // &::after {
        //     content: '';
        //     display: block;
        //     width: 100%;
        //     height: 1px;
        //     background-color: v.$lila;
        // }
    }

    .service-item {
        padding: 8px;
        border: 1px solid v.$lila;
        border-radius: 12px;
        margin-bottom: 12px;

        li {
            list-style: outside;

        }
    }
}

@include m.tablet {

    .service {
        h2 {
            font-size: 2.2rem;
            margin-bottom: 16px;
        }
    }

    .service-list {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;

        h3 {
            font-size: 1.3rem;
            padding-bottom: 8px;
        }

        p {
            font-size: 1.2rem;
        }

        .service-item {
            width: 35%;
            padding: 16px;
        }
    }
}

@include m.desktop {


    .service {
        h2 {
            font-size: 2.4rem;
            margin-bottom: 24px;
        }
    }

    .service-list {
        h3 {
            font-size: 1.5rem;
            padding-bottom: 12px;
        }

        p {
            font-size: 1.5rem;
        }

        .service-item {
            width: 30%;
            padding: 24px;
        }
    }
}