//Colores
$moradoOscuro: #4B2081;
$moradoClaro: #672FE6;
$azulClaro: #282880;
$azulOscuro: #000040;
$lilaClarito: #CCADFC;
$lila: #AA73FD;
$lilaOscuro: #883AFE;
$lilaAzulado: #6300FF;
$blanco: #FFFFFF;
$negro: #000000;


//Fuentes
$fuentePrincipal: "Arsenal SC", sans-serif;
$fuenteSecundaria: "Mulish", sans-serif;